{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <title>To Do Application</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link rel="stylesheet" href="{% static 'todo/css/index.css' %}">
  </head>

  <body>
    <div class="page">
      <h1>Sample To Do Application</h1>
      <p>You can submit tasks from the following form.</p>
      <form action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="titleInput">Title</label>
          <input id="titleInput" name="title" type="text" placeholder="Input title">
        </div>
        <div class="form-group">
          <label for="dueInput">Due at:</label>
          <input id="dueInput" name="due_at" type="datetime-local">
        </div>
        <div class="form-actions">
          <button type="submit">Submit</button>
        </div>
      </form>

      <div class="sort-links">
        <a href="{% url 'index' %}?order=due">Sort by Due Date</a>
        <a href="{% url 'index' %}?order=post">Sort by Posted Date</a>
        <a href="{% url 'deleted_list' %}">View Deleted Tasks</a>
      </div>

      <div class="task-list">
        {% for task in tasks %}
        <div class="task-card">
          <h2><a href="{% url 'detail' task.id %}">{{ task.title }}</a></h2>
          <ul>
            <li>Posted at: {{ task.posted_at }}</li>
            {% if task.due_at %}
            <li>Due at: {{ task.due_at }}</li>
            {% endif %}
            {% if task.completed %}
            <li>Status: Completed</li>
            {% else %}
            <li>Status: Not Completed</li>
            {% endif %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>

</html>